* {
	padding: 0;
	margin: 0;

}

body {
	
}

.section {
	background: linear-gradient(rgba(0,0,0,0.5),#009688),url(/home/benjaminwickman/Documents/ok/aset/IT.jpeg);
	background-size: cover;
	background-position: center;
	height: 100vh;	
}
.images {
	position: absolute;
	width: 130px;
	height: 120px;
	margin-top: -75px;

}
.section div ul a {
	display: inline-block;
	margin-left: 25px;
	margin-top: 10px;
	color: white;
	list-style: none;
	text-decoration: none;
}

.section div ul li {
	list-style: none;
	display: inline-block;
	cursor: pointer;
	border: 20px;
}

.section div ul a:hover {
	color: red;

}
/* change your left navbar about*/
.ok {
	margin-left: 760px;
}

.section div ul li .signup {
	color: orange;
}

.signup {
	color: orange;	
	display: inline-block;
	padding: 2px 6px;
	background-color: transparent;
	border: 1px solid orange;
}
.signup:hover {
	color: white;
	background-color: white;
}

.signuph1 {
	margin-left: 450px;
	margin-top: -30px;
	font-size: 15px;
	position: absolute;
}
