body {
	background-color: grey;
	height: px;
}

.divbar {
	margin-left: 160px;
	margin-right: 
	margin-bottom: px;

}

.divbar2 {
	position: absolute;
	margin-top: -46px;
}

.divbar3 {
	position: absolute;
	margin-top: -67px;
	margin-left: 95px;
}
#request-button {
	background-image: linear-gradient(to left, red 0%, blue 124%);
	border: none;
	height: 30px;
	width: 104px;
	border-radius: 2px;
}

#request-button a {
	color: white;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
}

#request-button:hover {
	background-image: linear-gradient(to right, blue 0%, green 100000%);
}
#request-button a:hover {
	color: yellow;
}
p {
	color: red;
}

#addtocart-button {
	background-color: yellow;
	border: none;
	border-radius: 65px;
	width: 130px;
	height: 23px;

}

#addtocart-button a {
	font-size: 11px;
	text-decoration: none;
	color: black;
}

#addtocart-button a:hover {
	color: white;
}

#addtocart-button:hover {
	background-color: green;
}

#getstarted-button {
	background-color: rgb(121, 82, 179);
	border: none;
	border-radius: 2px;
	width: 90px;
	height: 25px;

}

#getstarted-button a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}

#getstarted-button:hover {
	background-color: grey;
}

#getstarted-button a:hover {
	color: blue;
}

#download-button {
	background-color: white;
	border: solid;
	border-size: 2px;
	border-color: rgb(121, 82, 179);
	border-radius: 10px;
	height: 25px;
	width: 90px;
}

#download-button:hover {
	background-color: rgb(121, 82, 179);
}

#download-button a {
	color: rgb(121, 82, 179);
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;

}


#download-button a:hover {
	color: white;
}

#save-button {
	background-color: white;
	border-radius: 39px;
	border: none;
	width: 62px;
	height: 26px;
}

#save-button a {
	color: rgb(10, 102, 194);
	text-decoration: none;
	font-weight: bold;
}

#save-button:hover {
	background-color: darkgreen;
}

#save-button a:hover {
	color: white;
}

#signup-button {
	background-color: green;
	border: none;
	border-radius: 4px;
	width: 74px;
	height: 24px;
}

#signup-button a {
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}

#applyon-button {
	background-color: rgb(10, 102, 194);
	border: none;
	width: 190px;
	height: 27px;
	border-radius: 90px;
}

#applyon-button a{
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
}