* {
  padding: 0;
  margin: 0;
  background-image: url('assets/man.png');
}
p {
  background-color: transparent;
}
img {
  width: 120px;
  height: 120px;
  border-radius: 90px;
  padding-right: 100px;
}
.container {
  padding: 1rem 1rem;
  display: flex;
  justify-content: center;
}
@media (min-width: 62.5rem) {
  .container {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 4rem 2rem;
  }
  * {
    background-repeat: no-repeat;
  }
  p {
    color: pink;
  }
  img {
    border-radius: 40px;
  }
}
dl {
  color: red;
}