* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
}

h1 {
	color: white;
	display: flex;
	align-items: center;
	align-content: center;
	margin-left: 10px;
	margin-top: 80px;
}

.p1 {
	margin-left: 10px;
	color: white;
}

.p2 {
	margin-left: 10px;
	color: white;
}

.p3 {
	margin-left: 10px;
	color: white;
}

.p4 {
	margin-left: 10px;
	color: white;
}